<% if spree_current_user %>
<div id="wishlist-form">
	<div class="lemmaBook">
		<div class="wishlistAdd">    
			<%= form_for Spree::WishedProduct.new do |f| %>
			<%= f.hidden_field :variant_id, :value => @product.master.id %>
			<button type="submit" class="fa fa-list" value="">
			</button>
			<% end %>
		</div>
	</div>
</div>
<% end %>